/{{ .Name | highlight }}/ - {{ .Descr | highlight }}
{{ with $dsep := .Separator.Double }}{{ with $ssep := .Separator.Single }}{{ $dsep }}
{{ range .Threads }}
/{{ .Board.Name | highlight }}/{{ .ID }} {{ .Topic }} ({{ .NumReplies }} {{ if eq 1 .NumReplies }}reply{{ else }}replies{{ end }}) updated {{ .Active | timeANSIC }}
{{ $ssep }}
{{ .OP | formatPost }}
{{ $dsep }}
{{ end }}{{ end }}{{ end }}
