/{{ .Board.Name | highlight }}/{{ .ID }} {{ .Topic }}
{{ .Separator.Double }}
{{ $ssep := .Separator.Single }}{{ range .Posts }}
{{ . | formatPost }}
{{ $ssep }}{{ end }}{{ end }}
{{ .NumReplies }} {{ with $n := len .Posts }}{{ if eq $n 2}}reply{{ else }}replies{{ end }}{{ end }}
