/{{ .Board.Name | highlight }}/{{ .ID }} {{ .Topic }}
{{ $ssep := .Separator.Single }}{{ $n := len .Posts }}{{ .Separator.Double }}
{{ range .Posts }}{{ . | formatPost }}
{{ $ssep }}
{{ end }}{{ .NumReplies }} {{ if eq $n 2}}reply{{ else }}replies{{ end }}
